<div class="center">
  <div class="container">
    <h1 class="heading">Send me a message</h1>
    <p class="paragraph">
      Feel free to get in touch with me with anything related to CODINGSPACE or
      you can just say hi. I will get back to you as soon as I can.
    </p>
    <form action="https://api.web3forms.com/submit" method="POST">
      <input
        type="hidden"
        name="apikey"
        value="0da4497b-50c0-4bdb-97d0-0fdfcffdfa76"
      />
      <form-field label="name"></form-field>
      <form-field type="email" label="email"></form-field>
      <form-field label="subject"></form-field>
      <form-field label="message" [isTextArea]="true"></form-field>
      <input
        type="hidden"
        name="redirect"
        value="https://web3forms.com/success"
      />
      <app-button>SEND</app-button>
    </form>
  </div>
</div>
